<!DOCTYPE html>
html(ng-app="booksApp")
  head
    meta(charset="UTF-8")
    title Angular Test
    link(rel="stylesheet" href="/css/vendor/bootstrap-3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/vendor/bootstrap-3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="js/vendor/angular1.3.14.min.js")
    script(src="js/myApp.js")
  body(ng-cloak)
    block content