extends header

block content
  .container(ng-controller="BooksController as booksCtrl")
    h1.main-heading Library
    form.form-inline.main-form(novalidate name="bookForm" ng-submit="bookForm.$valid && booksCtrl.addBook(book)")
      input.hidden(name="_id" ng-model="booksCtrl.book._id")
      input.form-control(required type="text" name="author" placeholder="Author" ng-model="booksCtrl.book.author")
      input.form-control(required type="text" name="title" placeholder="Title" ng-model="booksCtrl.book.title")
      button.btn.btn-default(type="submit" ng-click="booksCtrl.validTest(bookForm.$valid)")
        span.glyphicon.glyphicon-plus
      p.alert.alert-danger.validate-info(ng-show="booksCtrl.isValidTest(false)") Please, fill all fields in

    .container
      div.table-header
        .inline-block
          span.sort-span(ng-click="booksCtrl.order('author')") Author
          span.sortorder(ng-show="booksCtrl.predicate === 'author'" ng-class="{reverse:booksCtrl.reverse}")
        .inline-block
          span.sort-span(ng-click="booksCtrl.order('title')") Title
          span.sortorder(ng-show="booksCtrl.predicate === 'title'" ng-class="{reverse:booksCtrl.reverse}")

      ol
        li(ng-repeat="book in booksCtrl.bookList | orderBy:booksCtrl.predicate:booksCtrl.reverse")
          .inline-block(ng-class="{editable:editable}" ng-controller="EditBooksController as editBook" ng-dblclick="editBook(true, book)")
            span.hidden {{book._id}}
            span.author.editable-text {{book.author}}
            form.editable-form(ng-submit="update(false, book, {title: book.title}, 'submit')")
              input.form-control(ng-blur="update(false, book, {title: book.title}, 'blur')" ng-model="book.author" focus-me="editable")

          .inline-block(ng-class="{editable:editable}" ng-controller="EditBooksController as editBook" ng-dblclick="editBook(true, book)")
            span.hidden {{book._id}}
            span.title.editable-text {{book.title}}
            form.editable-form(ng-submit="update(false, book, {author: book.author}, 'submit')")
              input.form-control(ng-blur="update(false, book, {author: book.author}, 'blur')" ng-model="book.title" focus-me="editable")

          button(ng-click="booksCtrl.removeBook(book)").btn.btn-default.remove-btn.glyphicon.glyphicon-remove
      p Quantity of books = {{booksCtrl.bookList.length}}


