*
  box-sizing border-box

[ng-cloak]
.ng-cloak
  display none !important

body
  font-family Helvetica, 'Myriad Pro', sans-serif

.container
  margin 50px auto
  text-align center

th
  text-align center

td
  position relative

.main-heading
.main-form
  margin-bottom 30px

.content-input
  text-align center
  font 18px 'PT Sans', sans-serif

.remove-btn
  position absolute
  top 5px
  right 15px
  cursor pointer

.validate-info
  margin-top 20px

.sortorderafter
    content '\25b2'

.sortorder.reverseafter
  content '\25bc'

.sort-span
  font-weight bold
  text-decoration underline
  cursor pointer

.sort-spanhover
  text-decoration none
  cursor pointer

.table-header
  text-align center
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.inline-block
  position relative
  display inline-block
  vertical-align top
  height 34px
  width 40%
  text-align center

.inline-block.rmv
  width 10%

ol
  padding 0
  counter-reset item
  list-style-type none

li
  position relative
  padding 5px 0
  border-bottom 1px solid grey
  line-height 34px
  text-align center
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  &:hover
    background #f5f5f5
  &:last-of-type
    border-bottom none
  &:before
    position absolute
    content counter(item) "  "
    counter-increment item

.editable-form
  display none
  text-align center
  input.form-control
    display inline-block
    width 70%
    text-align center

.editable
  .editable-form
    display block
  .editable-text
    display none